* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: SF Pro Display, Hiragino Kaku Gothic Pro, Noto Sans CJK JP,
    MesloLGS NF, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

window#waybar {
  background-color: rgba(32, 32, 32, 0.8);
  /* background-color: #120e12; */
  border-bottom: 1px solid #555555;
  color: #dddddd;
  /* box-shadow: 3px 2px 2px red;*/
  transition-property: background-color;
  transition-duration: 0.5s;
  /*  border-radius: 30;*/
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
  padding: 8px 20px;
  color: #555555;
  font-weight: bold;
  /* Use box-shadow instead of border so the text isn't offset */
  /*  box-shadow: inset 0 -3px transparent;*/
}

#workspaces button.visible {
  color: #dddddd;
}

#workspaces button.focused {
  /* border: 1px solid #dddddd; */
  background: #dddddd;
  color: rgba(28, 28, 28, 0.8);
  /*  box-shadow: inset 0 -3px #f2d8e9;*/
  /*border-radius: 24;*/
}

#workspaces button:hover {
  /*background: rgba(0, 0, 0, 0.2);*/
  background: #dddddd;
  color: rgba(28, 28, 28, 0.8);
  /*  box-shadow: inset 0 -3px #f2d8e9;*/
  /*border-radius: 24;*/
}

#workspaces button.urgent {
  background-color: #bb0000;
}

#temperature,
#disk,
#network,
#pulseaudio,
#mpd,
#clock {
  margin: 0 5px;
}

#clock,
#battery,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#custom-pacman,
#custom-brightness,
#language,
#tray,
#mode,
#idle_inhibitor,
#mpd {
  padding: 0 5px;
  /*  margin: 0 4px;*/
}

#tray {
  margin: 5px 10px;
  padding: 0 10px;
  background-color: #dddddd;
  border-radius: 16px;
}

#cpu {
  min-width: 100px;
  /* background-color: #bb0000; */
}

#memory {
  /* background-color: #0000bb; */
  min-width: 130px;
}

#pulseaudio {
  margin-left: 0px;
}
#clock {
  margin-right: 10px;
}
