[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=JQuake
Exec=java -jar ~/.local/bin/JQuake_*_linux/JQuake.jar -Xmx200m -Xms32m -Xmn2m -Djava.net.preferIPv4Stack=true
